<h1>Welcome to the Birthday Countdown!</h1>
<form action="/show-days" method="post">
  <input type="text" name="day">
  <input type="text" name="month">
  <input type='submit' value='Submit'>
</form>
