<!DOCTYPE html>
<html>
<head>
  <title>Birthday Countdown</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

<div class="container">
  <h1>Birthday Countdown</h1>
  <h2>Enter your Month and Day of birth to continue</h2>
  <form action="/show-days" method="post">
    <div class="text-inputs">
      <div class="day">
        <label for="day">Day</label>
        <input type="text" name="day" class="dob-box" >
      </div>
      <div class="month">
        <label for="month">Month</label>
        <input type="text" name="month" class="dob-box">
      </div>
    </div>
    <input type='submit' value='Submit' class="submit">
  </form>
</div>
</body>
</html>