<!DOCTYPE html>
<html>
<head>
  <title>Birthday Countdown</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

<div class="container">
<h1><%= if @user_birthday.days_until_birthday.zero?
            "It's today! Many happy returns!"
        else
            "Only #{@user_birthday.days_until_birthday} days to go!"
        end%>!</h1>
</div>
</body>
</html>